:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

*, ::before, ::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

element.style {
    height: 100%;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

body.blur #content > * {
    filter: blur(5px) brightness(0.7);
    transition: var(--transition);
    pointer-events: none;
    user-select: none;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-box {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 93.3%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.nav-box {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.logo {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.nav-section {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.nav-section ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-section ol li {
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

.nav-section ol li a {
    padding: 10px;
}

.nav-section ol li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
}

.resume-button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}

.sidebar-left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}

.social {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.social li {
    margin: 12px;
}

.sidebar-right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
}

.email {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

main.fillHeight {
    padding: 0px 150px;
}

.pages {
    counter-reset: section 0;
}

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}

#landing {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

#landing h1 {
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
}

#landing h3 {
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
}

#landing p {
    margin: 30px 0px 0px;
    max-width: 600px;
}

.big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}

#landing .email-link:hover, #landing .email-link:focus, #landing .email-link:active {
    background-color: var(--green-tint);
    outline: none;
}

#landing .email-link {
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}

.about-style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

#about {
    max-width: 900px;
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}

.numbered-heading::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.about-style .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.inner-text ul.skill-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.inner-text ul.skill-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.inner-text ul.skill-list li::before {
    content: "▹" ;
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.about-image {
    position: relative;
    max-width: 300px;
}

.about-image .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius);
    background-color: var(--green);
}

.about-image .wrapper::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.about-image .wrapper::before, .about-image .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.about-image .wrapper::after {
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
}

.wrapper img {
    border-radius: var(--border-radius);
}

.jobs-style {
    visibility: visible; 
    opacity: 1; 
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    max-width: 700px;
}

.jobs-style .inner {
    display: flex;
}

.my-job {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-family: var(--font-mono);
    color: var(--slate);
    font-size: var(--fz-xs);
}

.my-job ul li {
    transition: var(--transition);
    border-left: 2px solid var(--lightest-navy);
    display: flex;
    padding: 0px 20px 2px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

.my-job ul li.active p {
    color: var(--green);
}

.my-job ul li.active {
    background-color: var(--light-navy);
    border-left-color: var(--green);
}

.my-job ul li.active::before {
    transition: var(--transition);
}

.job-desc {
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.item {
    width: 100%;
    height: auto;
    padding: 10px 5px;
}

.item h3 {
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
}

.item h3 .company {
    color: var(--green);
}

.item .range {
    margin-bottom: 25px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.item ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: var(--fz-lg);
}

.item ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.item ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
}

.featured {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.selected-feature {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.selected-feature:not(:last-of-type) {
    margin-bottom: 100px;
}

.selected-feature:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.selected-feature .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.selected-feature .project-overline {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.selected-feature .project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}

.featured a {
    position: relative;
    z-index: 1;
}

.selected-feature .project-desc {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
}

.selected-feature:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.selected-feature .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.selected-feature:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.selected-feature .project-tech-list li {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}

.selected-feature:nth-of-type(2n+1) .project-link {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.selected-feature .project-link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    color: var(--lightest-slate);
}

.selected-feature .project-link a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

.featured a {
    position: relative;
    z-index: 1;
}

.selected-feature .project-link a svg {
    width: 20px;
    height: 20px;
}

svg.feather {
    fill: none;
}

.selected-feature:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}

.selected-feature .project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.selected-feature .project-image a {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: var(--border-radius);
    vertical-align: middle;
}

.selected-feature .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.selected-feature .project-image .img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}

img, svg, .image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.image-wrapper-constrained {
    display: inline-block;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.contact-style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
}

.contact-style .overline {
    display: block;
    margin-bottom: 20px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 400;
}

.contact-style .overline::before {
    bottom: 0px;
    font-size: var(--fz-sm);
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-weight: 400;
}

.contact-style .title {
    font-size: clamp(40px, 5vw, 60px);
}

.contact-style .email-link {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}

.footer-style {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

.footer-style-web {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1;
}

.footer-style-web a {
    padding: 10px;
}

